body{
  background-color: rgb(69, 118, 172);
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#wrapper{
  width: 1900px;
  margin: 0 auto;
}

#border1{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  position: relative;
  height: 200px;
}

#border2{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 350px;
}

#border3{
  background-color: rgb(69, 118, 172);
  border: 1px solid black;
  height: 300px;
  width: 500px;
  float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

#border4{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 300px;
  position: relative;
}

#border5{
  background-color: rgb(69, 118, 172);
  border: 1px solid black;
  margin-left: 550px;
  margin-top: 25px;
  width: 735px;
  height: 250px;
  position: absolute;
}

#border6{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  height: 775px;
  width: 600px;
  position: relative;
}

#border7{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: right;
  height: 775px;
  width: 1200px;
  position: relative;
}

#border8{
  background-color: #FFDA59;
  border: 10px solid #FFBE59;
  margin-top: 835px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 100px;
}

#image1{
 border: 1px solid black;
 float: right;
 margin-right: 30px;
 margin-top: 25px;
 position: relative;
}

#image2{
 border: 1px solid black;
 margin-right: 25px;
 margin-left: 25px;
 margin-top: 25px;
 position: relative;
}

#image3{
 border: 1px solid black;
 margin-left: 25px;
 margin-top: 25px;
 float: left;
 position: relative;
}

#image4{
 border: 1px solid black;
 margin-top: 25px;
 margin-right: 25px;
 margin-left: 785px;
 position: relative;
}

.container {               /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade I used this code from here to where ill put a stop Dec 3 2021*/
  position: relative;
  width: 100%;
}

.image5{
 border: 1px solid black;
 display: block;
 margin-left: 199px;
}

.image5 {border-radius: 8px;}

.overlay{
  border: 1px solid black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 199px;
  right: 199px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(69, 118, 172);
}

.overlay {border-radius: 8px;}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}                        /*STOP*/

#image6{
 border: 1px solid black;
 display: block;
 margin-left: 108px;
 margin-top: 65px;
 float: left;
 position: relative;
}

#image7{
 border: 1px solid black;
 display: block;
 float: right;
 margin-right: 108px;
 margin-top: 103px;
 position: relative;
}

#image1,#image2,#image3,#image4,#image6,#image7,.text6,.text8 {border-radius: 8px;}

.button1{
  color: white;
  font-size: 20px;
  font-family: Times, "Times New Roman", Georgia, serif;
  box-shadow: 0 9px #999;
  margin-left: 30px;
  margin-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgb(69, 118, 172);
  position: relative;
}

.button1 {border-radius: 8px;}

.button1:hover {
    background-color: rgb(99, 148, 202);
}

.button1:active {
  background-color: rgb(99, 148, 202);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2{
  color: white;
  font-size: 20px;
  font-family: Times, "Times New Roman", Georgia, serif;
  box-shadow: 0 9px #999;
  margin-left: 1200px;
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgb(69, 118, 172);
  position: relative;
}

.button2 {border-radius: 8px;}

.button2:hover {
    background-color: rgb(99, 148, 202);
}

.button2:active {
  background-color: rgb(99, 148, 202);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.text1{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 position: relative;
}

.text2{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 padding-left: 50px;
 padding-right: 50px;
 font-size: 23px;
 position: relative;
}

.text3{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 position: relative;
}

.text4{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
 margin-left: 175px;
 margin-right: 175px;
 position: relative;
}

.text5{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
 margin-right: 175px;
 margin-left: 710px;
 position: relative;
}

.text6{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 border: 1px solid black;
 font-size: 20px;
 padding: 20px;
 background-color: rgb(69, 118, 172);
 margin-left: 640px;
 margin-right: 105px;
 position: relative;
}

.text7{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
 margin-right: 710px;
 margin-left: 175px;
 position: relative;
}

.text8{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 border: 1px solid black;
 font-size: 20px;
 padding: 20px;
 background-color: rgb(69, 118, 172);
 margin-left: 105px;
 margin-right: 640px;
 position: relative;
}

.text9{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 background-color: rgb(69, 118, 172);
 border: 1px solid black;
 margin-top: 35px;
 margin-left: 50px;
 padding-left: 5px;
 width: 75px;
 float: left;
 position: relative;
}

.text10{
 font-family: Times, "Times New Roman", Georgia, serif;
 color: white;
 padding-left: 50px;
 padding-right: 50px;
 font-size: 23px;
 position: relative;
}

.fa {                     /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons Dec 3 2021*/
  padding: 10px;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 30px;
  float: left;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.fa {border-radius: 8px;}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}                        /*STOP*/
